<div data-role="page" id="pos9">
	<div data-role="header">
		<h1>Hoja de carga</h1>
	</div><!-- /header -->

	<div style="margin-bottom: 80px;" data-role="content">
		<p><a href="/main" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Principal</a><a href="/loads/<%= @load.id.to_s%>" rel="external" data-role="button" data-icon="gear" data-iconpos="notext">Hoja de carga</a></p>
		<a href="#pos8" data-role="button" data-icon="arrow-l" data-iconpos="notext"></a>
		<% if @load.P9.nil? || @load.P9.gsub(/^[a-zA-Z]*/,"").empty? %>
			Todavia no esta definido en la hoja de carga  
		<% else %>
			<% @pos = Position.find(:first, :conditions => {:work_id => @load.work_id, :numeros => @load.P9.gsub(/^[a-zA-Z]*/,"").to_i}) %>
			<% if !@pos.nil? %>
				<%= "Tren : "+@pos.tren.to_s %>
				<%= "Posicion : "+@pos.posicion.to_s %>
			<% else %>
				No esta el contenedor <%= @load.P9 %> en nuestros trenes
			<% end %>
		<% end %>
	</div><!-- /content -->

	<div style="position:absolute; bottom:0px;" data-role="footer">
		<h4>creado por dbayo</h4>
	</div><!-- /footer -->
</div>

<div data-role="page" id="pos8">
	<div data-role="header">
		<h1>Hoja de carga</h1>
	</div><!-- /header -->

	<div style="margin-bottom: 80px;" data-role="content">
		<p><a href="/main" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Principal</a><a href="/loads/<%= @load.id.to_s%>" rel="external" data-role="button" data-icon="gear" data-iconpos="notext">Hoja de carga</a></p>
		<a href="#pos7" data-role="button" data-icon="arrow-l" data-iconpos="notext"></a>
		<% if @load.P8.nil? || @load.P8.gsub(/^[a-zA-Z]*/,"").empty?  %>
			Todavia no esta definido en la hoja de carga
		<% else %>
			<% @pos = Position.find(:first, :conditions => {:work_id => @load.work_id, :numeros => @load.P8.gsub(/^[a-zA-Z]*/,"").to_i}) %>
			<% if !@pos.nil? %>
				<%= "Tren : "+@pos.tren.to_s %>
				<%= "Posicion : "+@pos.posicion.to_s %>
			<% else %>
				No esta el contenedor <%= @load.P8 %> en nuestros trenes
			<% end %>
		<% end %>
		<a href="#pos9" data-role="button" data-icon="arrow-r" data-iconpos="notext"></a>
	</div><!-- /content -->

	<div style="position:absolute; bottom:0px;" data-role="footer">
		<h4>creado por dbayo</h4>
	</div><!-- /footer -->
</div>

<div data-role="page" id="pos7">
	<div data-role="header">
		<h1>Hoja de carga</h1>
	</div><!-- /header -->

	<div style="margin-bottom: 80px;" data-role="content">
		<p><a href="/main" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Principal</a><a href="/loads/<%= @load.id.to_s%>" rel="external" data-role="button" data-icon="gear" data-iconpos="notext">Hoja de carga</a></p>
		<a href="#pos6" data-role="button" data-icon="arrow-l" data-iconpos="notext"></a>
		<% if @load.P7.nil? || @load.P7.gsub(/^[a-zA-Z]*/,"").empty?  %>
			Todavia no esta definido en la hoja de carga
		<% else %>
			<% @pos = Position.find(:first, :conditions => {:work_id => @load.work_id, :numeros => @load.P7.gsub(/^[a-zA-Z]*/,"").to_i}) %>
			<% if !@pos.nil? %>
				<%= "Tren : "+@pos.tren.to_s %>
				<%= "Posicion : "+@pos.posicion.to_s %>
			<% else %>
				No esta el contenedor <%= @load.P7 %> en nuestros trenes
			<% end %>
		<% end %>
		<a href="#pos8" data-role="button" data-icon="arrow-r" data-iconpos="notext"></a>
	</div><!-- /content -->

	<div style="position:absolute; bottom:0px;" data-role="footer">
		<h4>creado por dbayo</h4>
	</div><!-- /footer -->
</div>
<div data-role="page" id="pos6">
	<div data-role="header">
		<h1>Hoja de carga</h1>
	</div><!-- /header -->

	<div style="margin-bottom: 80px;" data-role="content">
		<p><a href="/main" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Principal</a><a href="/loads/<%= @load.id.to_s%>" rel="external" data-role="button" data-icon="gear" data-iconpos="notext">Hoja de carga</a></p>
		<a href="#pos5" data-role="button" data-icon="arrow-l" data-iconpos="notext"></a>
		<% if @load.P6.nil? || @load.P6.gsub(/^[a-zA-Z]*/,"").empty?  %>
			Todavia no esta definido en la hoja de carga
		<% else %>
			<% @pos = Position.find(:first, :conditions => {:work_id => @load.work_id, :numeros => @load.P6.gsub(/^[a-zA-Z]*/,"").to_i}) %>
			<% if !@pos.nil? %>
				<%= "Tren : "+@pos.tren.to_s %>
				<%= "Posicion : "+@pos.posicion.to_s %>
			<% else %>
				No esta el contenedor <%= @load.P6 %> en nuestros trenes
			<% end %>
		<% end %>
		<a href="#pos7" data-role="button" data-icon="arrow-r" data-iconpos="notext"></a>
	</div><!-- /content -->

	<div style="position:absolute; bottom:0px;" data-role="footer">
		<h4>creado por dbayo</h4>
	</div><!-- /footer -->
</div>
<div data-role="page" id="pos5">
	<div data-role="header">
		<h1>Hoja de carga</h1>
	</div><!-- /header -->

	<div style="margin-bottom: 80px;" data-role="content">
		<p><a href="/main" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Principal</a><a href="/loads/<%= @load.id.to_s%>" rel="external" data-role="button" data-icon="gear" data-iconpos="notext">Hoja de carga</a></p>
		<a href="#pos4" data-role="button" data-icon="arrow-l" data-iconpos="notext"></a>
		<% if @load.P5.nil? || @load.P5.gsub(/^[a-zA-Z]*/,"").empty?  %>
			Todavia no esta definido en la hoja de carga
		<% else %>
			<% @pos = Position.find(:first, :conditions => {:work_id => @load.work_id, :numeros => @load.P5.gsub(/^[a-zA-Z]*/,"").to_i}) %>
			<% if !@pos.nil? %>
				<%= "Tren : "+@pos.tren.to_s %>
				<%= "Posicion : "+@pos.posicion.to_s %>
			<% else %>
				No esta el contenedor <%= @load.P5 %> en nuestros trenes
			<% end %>
		<% end %>
		<a href="#pos6" data-role="button" data-icon="arrow-r" data-iconpos="notext"></a>
	</div><!-- /content -->

	<div style="position:absolute; bottom:0px;" data-role="footer">
		<h4>creado por dbayo</h4>
	</div><!-- /footer -->
</div>
<div data-role="page" id="pos4">
	<div data-role="header">
		<h1>Hoja de carga</h1>
	</div><!-- /header -->

	<div style="margin-bottom: 80px;" data-role="content">
		<p><a href="/main" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Principal</a><a href="/loads/<%= @load.id.to_s%>" rel="external" data-role="button" data-icon="gear" data-iconpos="notext">Hoja de carga</a></p>
		<a href="#pos3" data-role="button" data-icon="arrow-l" data-iconpos="notext"></a>
		<% if @load.P4.nil? || @load.P4.gsub(/^[a-zA-Z]*/,"").empty?  %>
			Todavia no esta definido en la hoja de carga
		<% else %>
			<% @pos = Position.find(:first, :conditions => {:work_id => @load.work_id, :numeros => @load.P4.gsub(/^[a-zA-Z]*/,"").to_i}) %>
			<% if !@pos.nil? %>
				<%= "Tren : "+@pos.tren.to_s %>
				<%= "Posicion : "+@pos.posicion.to_s %>
			<% else %>
				No esta el contenedor <%= @load.P4 %> en nuestros trenes
			<% end %>
		<% end %>
		<a href="#pos5" data-role="button" data-icon="arrow-r" data-iconpos="notext"></a>
	</div><!-- /content -->

	<div style="position:absolute; bottom:0px;" data-role="footer">
		<h4>creado por dbayo</h4>
	</div><!-- /footer -->
</div>
<div data-role="page" id="pos3">
	<div data-role="header">
		<h1>Hoja de carga</h1>
	</div><!-- /header -->

	<div style="margin-bottom: 80px;" data-role="content">
		<p><a href="/main" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Principal</a><a href="/loads/<%= @load.id.to_s%>" rel="external" data-role="button" data-icon="gear" data-iconpos="notext">Hoja de carga</a></p>
		<a href="#pos2" data-role="button" data-icon="arrow-l" data-iconpos="notext"></a>
		<% if @load.P3.nil? || @load.P3.gsub(/^[a-zA-Z]*/,"").empty?  %>
			Todavia no esta definido en la hoja de carga
		<% else %>
			<% @pos = Position.find(:first, :conditions => {:work_id => @load.work_id, :numeros => @load.P3.gsub(/^[a-zA-Z]*/,"").to_i}) %>
			<% if !@pos.nil? %>
				<%= "Tren : "+@pos.tren.to_s %>
				<%= "Posicion : "+@pos.posicion.to_s %>
			<% else %>
				No esta el contenedor <%= @load.P3 %> en nuestros trenes
			<% end %>
		<% end %>
		<a href="#pos4" data-role="button" data-icon="arrow-r" data-iconpos="notext"></a>
	</div><!-- /content -->

	<div style="position:absolute; bottom:0px;" data-role="footer">
		<h4>creado por dbayo</h4>
	</div><!-- /footer -->
</div>
<div data-role="page" id="pos2">
	<div data-role="header">
		<h1>Hoja de carga</h1>
	</div><!-- /header -->

	<div style="margin-bottom: 80px;" data-role="content">
		<p><a href="/main" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Principal</a><a href="/loads/<%= @load.id.to_s%>" rel="external" data-role="button" data-icon="gear" data-iconpos="notext">Hoja de carga</a></p>
		<a href="#pos1" data-role="button" data-icon="arrow-l" data-iconpos="notext"></a>
		<% if @load.P2.nil? || @load.P2.gsub(/^[a-zA-Z]*/,"").empty?  %>
			Todavia no esta definido en la hoja de carga
		<% else %>
			<% @pos = Position.find(:first, :conditions => {:work_id => @load.work_id, :numeros => @load.P2.gsub(/^[a-zA-Z]*/,"").to_i}) %>
			<% if !@pos.nil? %>
				<%= "Tren : "+@pos.tren.to_s %>
				<%= "Posicion : "+@pos.posicion.to_s %>
			<% else %>
				No esta el contenedor <%= @load.P2 %> en nuestros trenes
			<% end %>
		<% end %>
		<a href="#pos3" data-role="button" data-icon="arrow-r" data-iconpos="notext"></a>
	</div><!-- /content -->

	<div style="position:absolute; bottom:0px;" data-role="footer">
		<h4>creado por dbayo</h4>
	</div><!-- /footer -->
</div>
<div data-role="page" id="pos1">
	<div data-role="header">
		<h1>Hoja de carga</h1>
	</div><!-- /header -->

	<div style="margin-bottom: 80px;" data-role="content">
		<p><a href="/main" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Principal</a><a href="/loads/<%= @load.id.to_s%>" rel="external" data-role="button" data-icon="gear" data-iconpos="notext">Hoja de carga</a></p>
		<% if @load.P1.nil? || @load.P1.gsub(/^[a-zA-Z]*/,"").empty?  %>
			Todavia no esta definido en la hoja de carga
		<% else %>
			<% @pos = Position.find(:first, :conditions => {:work_id => @load.work_id, :numeros => @load.P1.gsub(/^[a-zA-Z]*/,"").to_i}) %>
			<% if !@pos.nil? %>
				<%= "Tren : "+@pos.tren.to_s %>
				<%= "Posicion : "+@pos.posicion.to_s %>
			<% else %>
				No esta el contenedor <%= @load.P1 %> en nuestros trenes
			<% end %>
		<% end %>
		<a href="#pos2" data-role="button" data-icon="arrow-r" data-iconpos="notext"></a>
	</div><!-- /content -->

	<div style="position:absolute; bottom:0px;" data-role="footer">
		<h4>creado por dbayo</h4>
	</div><!-- /footer -->
</div>