<div data-role="page" id="newop">

	<div data-role="header">
		<h1>Hoja de carga</h1>
	</div><!-- /header -->

	<div style="margin-bottom: 80px;" data-role="content">
		<p><a href="/main" rel="external" data-role="button" data-icon="home" data-iconpos="notext">Principal</a><a href="/loads/<%= @load.id.to_s%>" rel="external" data-role="button" data-icon="gear" data-iconpos="notext">Hoja de carga</a></p>		
		<form accept-charset="UTF-8" action="/loads/<%=@load.id.to_s%>/update" method="post" data-ajax="false">
			<h1 style="text-align: center;">
				<span style="float: left;"><input name="commit" type="submit" value="Back" onClick="document.getElementById('nextposition').value = '<%= (@position.to_i - 1).to_s%>';" rel="external" data-icon="arrow-l" data-iconpos="notext" data-role="button"></span>
				<span>Posicion <%= @position %></span>
				<span style="float: right;"><input name="commit" type="submit" value="Next" onClick="document.getElementById('nextposition').value = '<%= (@position.to_i + 1).to_s%>';" rel="external" data-transition="pop" data-icon="arrow-r" data-iconpos="notext" data-role="button"</span>
			</h1>
			<hr />
			<input type="hidden" name="position" id="position" value="<%= @position %>">
			<input type="hidden" name="nextposition" id="nextposition" value="<%= @position %>">
			<fieldset class="ui-grid-a">
				<div class="ui-block-a" style="width:40% !important;"><input type="text" name="nameA" id="nameA" value="AAA" maxlength="3" style="width:30%;" /></div>
				<div class="ui-block-b" style="width:60% !important;"><input type="number" name="nameB" id="nameB" value="<%= @nameB.gsub(/^[a-zA-Z]*/,"").to_i unless @nameB.gsub(/^[a-zA-Z]*/,"").to_i == 0 %>" style="width:60%;" /></div>	   
			</fieldset>	     
		    <br />
		    <div><input name="commit" type="submit" value="Save" class="ui-btn-hidden" aria-disabled="false"></div>
		</form>
	</div><!-- /content -->

	<div style="position:absolute; bottom:0px;" data-role="footer">
		<fieldset class="ui-grid-b">
			<div class="ui-block-a">
				<b style="text-align:center; margin-left: -3%; width: 100%;" class="ui-li ui-li-divider ui-btn ui-btn-down-undefined ui-btn-up-undefined">P<%= (@position.to_i - 1).to_s%></b>
			</div>
			<div class="ui-block-b">
				<b style="text-align:center; margin-left: -3%; width: 100%;" class="ui-li ui-li-divider ui-btn ui-bar-b ui-btn-down-undefined ui-btn-up-undefined">P<%= @position.to_s%></b>
			</div>
			<div class="ui-block-c">
				<b style="text-align:center; margin-left: -3%; width: 100%;" class="ui-li ui-li-divider ui-btn ui-btn-down-undefined ui-btn-up-undefined">P<%= (@position.to_i + 1).to_s%></b>
			</div>
		</fieldset>
		<h4>creado por dbayo</h4>
	</div><!-- /footer -->
</div>